<br><br>
<div class="row main-content">
     
    <div class="col-lg-3 sidebar">
       <h3 class="search-btn" data-toggle="collapse" data-target="#favorites"> Your Favorites <span class="arrow">&#9660;</span></h3>
          <div class="collapse sidebar-div" id="favorites">
           {{#unless favorites}}
              <p style="text-align: center;">Log in to see your favorites.</p>
             {{/unless}} 


             {{#each favorites}}
              <form action="/api/favorites/{{this.id}}?_method=DELETE" method="POST" id="favoriteForm">
               
                <input type="hidden" name="id" value="{{this.id}}">
                <h3 id="favName">{{this.name}}
                  <button type="Submit" class="close" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </h3>
                <img src="{{this.imageLink}}" id ="favPic">
                <div id="favDetails">
                  <h3>
                    <p><b>Rating:</b> {{this.rating}} |  {{this.price}}</p>
                    <p>{{this.street}}<br>
                     {{this.city}}, {{this.state}}</p>
                    <p><b> {{this.phoneNumber}} </b></p>
                  </h3>  
                 </div> 
                 <br style= "clear: both;">
              
              </form>      
            {{/each}}
		</div>
          

         <img src='../../assets/images/happyhour.jpg' width="100%" style="margin-left: 2%">
     </div>

	<script type="text/javascript"> var divCount = 0;	</script>
     <div class="col-lg-9 food-deals">
		<div class="row">    
		{{status}}  
       		{{#each deals}}   
       			<div class="col-lg-4">
		           <div class="card-grid">
		           
		           	<script type="text/javascript"> 
		           		divCount++;
		           	</script>
						
			             <div class="deal-card {{this.active}} front" id="card_{{this.id}}">
			              <h6>

			                 {{this.tittle}}
			              </h6>
			               <p class="deal-details">{{this.body}}</p>
			               <hr>
			              <p class="deal-info"> Available {{this.dealStart}} - {{this.dealEnd}}</p>
			               <p class="deal-info"> {{this.Business.businessName}}</p>
			             </div>
			             <div class="deal-card deal-back back">
			               <p class="deal-info"> {{this.Business.businessName}}</p>
			               <p class="deal-info"> {{this.Business.streetAddress}}</p>
			               <p class="deal-info"> {{this.Business.city}}, {{this.Business.state}}</p>
			               <p class="deal-info"> {{this.Business.phone}}</p>
			               <a class="deal-link" href="{{this.Business.webLink}}" target='_blank'>Visit Website</a>
			                <input type="hidden" value="{{this.id}}" id="ids" />
			                <input type="hidden" value="{{this.dealStart}}" class="timeS" id="start<%=count++%>" />
							<input type="hidden" value="{{this.dealEnd}}" id="end_{{this.id}}" />
			             </div>
		           </div>
        		</div>
        	{{/each}} 
    	</div>          
    </div>    
</div>
